h1 {
    color: rgba(255, 0, 0, 0.678);
    text-align: center;
}
h2 {
    color: maroon;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    text-align: left;
}
ul {
    line-height: 40px;
}
